<html>
  <head>
    <title>Nuvho MCP Server</title>
  </head>

  <body>
    <div x-data="{ get settings() { return $store.settings.settings } }">
      <template x-if="settings">
        <div>
          <div class="section-title">Nuvho MCP Server</div>
          <div class="section-description">
            ZeroClaw can be exposed as an SSE MCP server. See <a href="javascript:openModal('settings/mcp/server/example.html')">connection example</a>.
          </div>

          <div class="field">
            <div class="field-label">
              <div class="field-title">Enable Nuvho MCP Server</div>
              <div class="field-description">
                Expose ZeroClaw as an SSE/HTTP MCP server. This will make this Nuvho instance available to MCP clients.
              </div>
            </div>
            <div class="field-control">
              <label class="toggle">
                <input type="checkbox" x-model="settings.mcp_server_enabled" />
                <span class="toggler"></span>
              </label>
            </div>
          </div>
        </div>
      </template>
    </div>
  </body>
</html>
